---
import { Image } from 'astro:assets'
const mode = import.meta.env.MODE; // Check the current environment
const { src, alt = 'Inserted Image', layout='large' } = Astro.props;
console.log("astro",Astro.props)

const layoutToDimensions = {
  large: {
    width: 1000,
    height: 2000,
  },
  half: {
    width: 200,
    height: 400,
  },
  tiny:{
    width: 100,
    height:100,
  }
};

// Get the width and height based on the layout
const { width, height } = layoutToDimensions[layout] || layoutToDimensions['large']; // Default to 'large' if no layout is provided
const cloudinaryCloudName = import.meta.env.VITE_CLOUDINARY_CLOUD_NAME;
const site = import.meta.env.VITE_SITE_NAME;
// Determine if we're in production or development
const imageSrc = mode === 'production'
  ? `https://res.cloudinary.com/dkefcoe8x/image/fetch/c_limit,f_auto,q_32/https:/cloudinary-mdx--test-astro1234.netlify.app${src}`
  : src;
---

<!-- Render the image if src is provided -->
<div>
  {src ? (
    <Image
      src={imageSrc}
      sizes={"(max-width: 768px) 100vw,(max-width: 1200px) 50vw, 33vw"}
      alt={alt}
      width={width}
      height={height}
    />
  ) : (
    <p>No image provided</p>
  )}
</div>